#home-category {
  position: relative;
  background-color: #fff;
  .carousel {
    padding-bottom: 40px;
    background: url("https://gss0.bdstatic.com/7Po3dSag_xI4khGkpoWK1HF6hhy/nuomi/pic/item/503d269759ee3d6d3aa4091849166d224e4ade87.jpg");
    background-size: 100% 100%;
  }
  .carousel-item {
    ul {
      width: 100%;
      height: auto;
    }
    a {
      color: #333;
    }
    li {
      display: block;
      list-style: none;
      width: 20%;
      background-repeat: no-repeat;
      background-size: 50px auto;
      background-position: top center;
      text-align: center;
      color: #fff;
      font-size: 14px;
      img {
        display: block;
        width: 60%;
        margin: 20px auto 5px;
      }
    }
  }

  .index-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: 0 auto;
    text-align: center;
    ul {
      width: 100%;
      height: auto;
      text-align: center;
    }
    li {
      list-style: none;
      display: inline-block;
      height: 8px;
      width: 8px;
      border-radius: 4px;
      background-color: #ccc;
      margin: 0 3px;
    }
    li.selected {
      background-color: rgb(233, 32, 61);
    }
  }
}